*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(198, 196, 196);
}
.left{
    width: 50vw;
    height: 150vh;
    /* border:2px solid blue; */
    float:left;
    box-sizing: border-box;
}
.left .logo{
    position:absolute;
    top:30vh;
    left:14vw;
}
.left .logo img{
    width: 250px;
    height: 100px;
}
.left .logo p{
    font-size: xx-large;
    margin-top:5px;
}
.right{
    width: 49vw;
    height: 100vh;
    /* border:2px solid blue; */
    float:left;
    box-sizing: border-box;
}
.right .box{
    width: 370px;
    height: 340px;
    background-color: white;
    position: absolute;
    top: 20vh;
    right:20vw;
    border-radius: 10px;
}
.right .box input[type=text]{
    width: 90%;
    height: 7vh;
    margin-left:16px;
    margin-top:10px;
    border-radius: 5px;
    opacity: 1;
    font-size: large;
    border: 0.5px solid black;
}
.right .box input[type=button]{
    width: 90%;
    height: 7vh;
    margin-left:16px;
    margin-top:18px;
    border-radius: 5px;
    background-color: blue;
    color:white;
    font-size: x-large;
    border: none;
}
.right .box .forgotten{
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
}
.right .box .forgotten a{
    text-decoration: none;
}
.right .box .forgotten a:hover{
    text-decoration: underline;
}
.right .box hr{
    width: 80%;
    margin-left:10%;
    margin-top: 7px;
}
.right .Create input[type="button"]{
    width: 60%;
    margin-left: 60px;
    margin-top: 20px;
    background-color: darkgreen;
    height: 50px;

}